<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/player/delete</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<servlet>
		<servlet-name>FeederServlet</servlet-name>
		<servlet-class>tk.icudi.FeederServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UnitServlet</servlet-name>
		<servlet-class>tk.icudi.UnitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlayerServlet</servlet-name>
		<servlet-class>tk.icudi.PlayerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlayerDeleteServlet</servlet-name>
		<servlet-class>tk.icudi.PlayerDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FeederServlet</servlet-name>
		<url-pattern>/feeder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnitServlet</servlet-name>
		<url-pattern>/units</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlayerServlet</servlet-name>
		<url-pattern>/player/nearby</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlayerDeleteServlet</servlet-name>
		<url-pattern>/player/delete</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
