<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
		
	<servlet>
		<servlet-name>SendInformationServlet</servlet-name>
		<servlet-class>tk.icudi.increase.SendInformationServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>GatherInformationServlet</servlet-name>
		<servlet-class>tk.icudi.increase.GatherInformationServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GatherInformationServlet</servlet-name>
		<url-pattern>/player/gather</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SendInformationServlet</servlet-name>
		<url-pattern>/player/send</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
